html{
  scroll-behavior: smooth;
}

body {
	background-image: url("https://10ne-v.neocities.org/Portfolio/imagenes/fondoC.png");
}

.Pantalla1, .Pantalla2, .Pantalla3, .Pantalla4{
	width: 100%;
	height: 99vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.Pantalla1{
	flex-direction: row;
}

.reductor{
  display: block;
  height: 0px;
}

footer{
  color:gray;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
footer a {
  text-decoration: none;
  color:gray;
}

@media all and (max-width:760px){

	body {
		background-image: url("https://10ne-v.neocities.org/Portfolio/imagenes/fondoVert.png");
	}

	.Pantalla1{
		flex-direction: column;
		margin-top: 5vh;
	}
	.Pantalla2, .Pantalla3{
		height: auto;
		padding-bottom: 1vh;
	}

	footer{
		margin-top:30px;
		font-size: 2vw;
	}

}