.aboutMe{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10fr 1fr;
  grid-template-areas:  "contentX imgX"
                        "sectionX sectionX";
  width: 84%;
  height: 80%;
}

.aboutMeContentLeft{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38vw;
  grid-area: contentX;
}

.titleAboutMe{
  width: 100%;
  font-size: 30px;
  font-family: 'JetBrains Mono', monospace;
  color:  white;
  margin-top: -1vh;
}

.textoAboutMe-Description{
  text-align: justify;
  font-size: 16px;
  font-family: 'Roboto Mono', monospace, 'M PLUS 1 Code', sans-serif;
  color: #00ffff;
  margin-top: -0.5vh;
}

.downloadCV{
  width: 38vw;
  height: 30px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: 'Roboto Mono', monospace, 'M PLUS 1 Code', sans-serif;
}
.downloadCV:hover, .downloadCV:active{
  color: #00ffff;
  cursor:pointer;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}
.downloadCV:active{
  box-shadow: none;
}

.Pantalla2Img{
  width: 40vw;
  border-radius: 10px;
  grid-area: imgX;
  align-self: center;
}

.iconTrain{
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4vh;
  grid-area: sectionX;
  justify-self: center;
}

.iconSkill{
  width: 3.2vw;
  min-width: 30px;
  filter: invert(100%);
}

/*A partir de aquí, empiezan las configuraciones responsivas*/
@media all and (max-width:760px){

  .aboutMe{
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr 2fr;
    grid-template-areas:  "contentX"
                          "sectionX"
                          "imgX";
    width: 95vw;
    margin-bottom: 10vh;
  }

  .aboutMeContentLeft{
    width: 80vw;
    justify-self: center;
    margin-top: 5vh;
  }

  .downloadCV{
    width: 80vw;
  }

  .Pantalla2Img{
    width: 90vw;
    border-radius: 10px;
    grid-area: imgX;
    justify-self: center;
  }

  .iconTrain{
    width: 81vw;
    justify-content: space-between;
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
  
}