.textoContacto, .textoYouCanWriteMe, .mailContacto{
  color: white;
}

.textoContacto{
  font-size: 30px;
  font-family: 'JetBrains Mono', monospace;
  margin-bottom: -10px;
  width: 84%;
  margin-top: -10vh;
  margin-bottom: 10vh;
}

.textoYouCanWriteMe{
  font-family: 'Roboto Mono', monospace, 'M PLUS 1 Code', sans-serif;
  font-size: 20px;
}

.mailContacto {
    font-family: 'Bebas Neue',cursive;
    font-size: 500%;
    letter-spacing: 1px;
    text-decoration: none;
    transition: text-shadow 1.5s;
}
.mailContacto:hover{
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  transition: text-shadow 0.3s;
}

.line4{
  width: 80vw;
  border-top: 1px solid white;
}

.iconoContacto{
  width: 50px;
  filter: invert(100%);
  transition: transform 0.3s;
}
.iconoContacto:hover{
  transform: scale(1.4);
  transition: transform 0.3s;
}

/*A partir de aquí, empiezan las configuraciones responsivas*/
@media all and (max-width:760px){

  .line4{
    width: 70%;
  }

  .mailContacto {
    font-size: 7vw;
  } 

}