.Pantalla1 { /*background-color: red;*/
    color: white;
    height: 100vh;
    width: 100%;
    display:flex; align-items:center;
}

.contenedor1{
  display: table; margin: 0 auto;
  width: 70%;
  display:flex; align-items:center;
}

.Pantalla1-left{ /*background-color: black;*/
  float: left;
  text-align: right;
  display:inline;
  width: 50%;
  height: 500px;
  display:flex; align-items:center;
}
.Pantalla1-right{ /*background-color: rgb(20, 20, 20);*/
  float: left;
  text-align: left;
  display: inline;
  width: 50%;
  height: 500px;
  display:flex; align-items:center;
}

.vertical-line{ /*background-color: yellow;*/
  border-width: 1px;
  border-left: thin solid white;
  height: 230px;
  width: 0%;
  color: transparent;
}


.Pantalla1-textos{
  vertical-align: middle;
  display: table; margin: 0 auto;
  padding-right: 60px;
  margin-left: -25px;
}

.mainImg{
  width: 250px; height: 250px;
  vertical-align: middle;
  border-radius: 100%;
  display: table; margin: 0 auto;
}

.nombreAlexa{
  font-family: 'JetBrains Mono', monospace;
  font-size: 60px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -5px;
  transition: text-shadow 1.5s;
}
.nombreAlexa:hover{
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.9); transition: text-shadow 0.3s;
}
.helloWorld{
  font-family: 'Roboto Mono', monospace, 'M PLUS 1 Code', sans-serif;
  font-size: 23px;
  color: #00ffff;
}
.scientistArtist{
  font-family: 'Roboto Mono', monospace, 'M PLUS 1 Code', sans-serif;
  font-size: 23px;
  color: #00ffff;
}



/*A partir de aquí, empiezan las configuraciones responsivas*/
/*A partir de aquí, empiezan las configuraciones responsivas*/
/*A partir de aquí, empiezan las configuraciones responsivas*/
@media all and (max-width:760px){

  .Pantalla1 {
    color: white;
    height: 100vh;
    width: 100%;
    display: table;
    margin-top: 20px;
  }
  
  .contenedor1{
    flex-direction:column;
    order: 0;
  }
  .Pantalla1-left{
    order: 2;
    width: 100%;
    align-items:center;
    margin-top: -210px;
  }
  .Pantalla1-right{
    order: 1;
    width: 100%;
    align-items:center;
    margin-top: -50px;
  }

  .vertical-line{
    border-width: 0px;
    border-color: none;
    height: 0px; width: 0%;
    color: transparent;
  }

  .Pantalla1-textos{padding-right: 50px;}

  .mainImg{width: 200px; height: 200px;}

  .nombreAlexa{font-size: 50px;}

  .helloWorld{font-size: 20px;}
  
  .scientistArtist{font-size: 17px;}

}
